@charset "UTF-8";
html, body {
  font-family: 'Oswald', sans-serif;
}

.page {
  width: 100%;
  overflow-x: hidden;
}

.wrapper {
  width: 1170px;
  margin: 0 auto;
  height: 100vh;
  padding: 0 15px;
}

.frame {
  width: 100%;
}

.header {
  padding: 25px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.logo {
  width: auto;
}

.logo a {
  width: 100%;
  display: table;
}

.logo a img {
  width: 100%;
}

#nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 18px;
  margin: auto 0;
}

#nav li {
  position: relative;
  display: block;
  margin: 0 10px;
}

#nav li:last-child {
  margin: 0 0;
}

#nav li a {
  letter-spacing: 1px;
  font-weight: 400;
  display: block;
  padding: 5px 10px;
  color: #00273b;
  text-decoration: none;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  border: 2px solid #ff8e00;
}

#nav li a:hover {
  color: #fff;
  background: rgba(255, 142, 0, 0.8);
}

/*--- ВЫПАДАЮЩИЕ ПУНКТЫ ---*/
#nav .dropdown {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  position: absolute;
  left: -9999px;
  opacity: 0;
  padding: 0;
  background: #fff;
  -webkit-transition: 0.25s linear opacity;
}

#nav .dropdown li {
  width: 100%;
  margin: 0;
}

#nav .dropdown a {
  white-space: nowrap;
  display: block;
}

#nav li:hover .dropdown {
  left: 0;
  opacity: 1;
  border: 2px solid #ff8e00;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#nav .dropdown li:hover a {
  background: rgba(255, 142, 0, 0.8);
  text-decoration: none;
}

#nav li:hover .dropdown a {
  border: none;
  text-decoration: none;
  -webkit-transition: -webkit-transform 0.075s linear;
}

#nav li:hover .dropdown li a:hover {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
}

.UE-baner {
  width: 100%;
  height: 400px;
  padding: 20px 0;
  border-top: 2px solid #ff8e00;
  border-bottom: 2px solid #ff8e00;
}

.baner_h1 {
  font-size: 30px;
  color: #fff;
  font-weight: 300;
  background: rgba(0, 0, 0, 0.3);
  padding: 25px 25px;
  width: 500px;
  line-height: 40px;
  letter-spacing: 0px;
}

.block_baner {
  height: 400px;
  width: 100%;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.baner_select {
  width: 208px;
  padding: 25px 25px;
  background: rgba(255, 142, 0, 0.6);
  -webkit-border-radius: 4px;
          border-radius: 4px;
  margin: 0 25px;
}

.baner_title {
  color: #fff;
  font-size: 22px;
  margin: 0 0 20px 0;
  font-weight: 300;
}

.select2-search {
  display: none;
}

.select2-container {
  font-weight: 300;
  font-size: 18px;
  color: #00273b;
  letter-spacing: 1px;
}

.box_content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.box_content p {
  font-size: 16px;
  color: #002739;
  font-weight: 400;
  padding: 0 0 15px 0;
  margin: 0 0 0 0;
  letter-spacing: 0.05em;
}

.box_content_left {
  margin: 20px 0 0 0;
  width: 300px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-right: 2px solid #ff8e00;
  padding-right: 20px;
}

.box_content_left a:hover {
  color: #ff8e00;
}

.box_content_right {
  width: 870px;
  padding-top: 20px;
  padding-left: 20px;
}

.top_content_block {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0 0 20px 0;
  margin: 0 0 20px 0;
  border-bottom: 2px solid #00273b;
}

.top_content_block h2 {
  -webkit-flex-basis: 100;
      -ms-flex-preferred-size: 100;
          flex-basis: 100;
  margin: 0 0 10px 0;
  padding: 0;
  color: #00273b;
  font-size: 20px;
  font-weight: 700;
}

.top_content_block img {
  width: 400px;
}

.top_content_block article {
  width: 440px;
}

.top_content_block a {
  position: absolute;
  bottom: 5px;
  right: 0;
}

.bottom_content_block {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0 0 20px 0;
  margin: 0 0 20px 0;
}

.bottom_content_block_left, .bottom_content_block_right {
  width: 425px;
}

.bottom_content_block_left h3, .bottom_content_block_right h3 {
  -webkit-flex-basis: 100;
      -ms-flex-preferred-size: 100;
          flex-basis: 100;
  margin: 10px 0 10px 0;
  padding: 0;
  color: #00273b;
  font-size: 18px;
  font-weight: 700;
}

.img_content_block {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.title_content_news {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  display: block;
  font-weight: 400;
  font-size: 20px;
  color: #00273b;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.title_content_news a {
  padding: 0;
  margin: 0;
}

.box_content_news {
  padding: 10px 0;
  border-bottom: 2px solid #00273b;
  margin: 15px 0;
}

.box_content_news h4 {
  padding: 0 0;
  margin: 10px 0;
  font-size: 18px;
  font-weight: 400;
  color: #00273b;
}

.box_content_news span {
  font-size: 12px;
  font-weight: 400;
  color: #00273b;
}

.box_content_news a {
  float: right;
  color: #00273b;
  font-size: 14px;
}

.footer {
  margin: 25px 0 0 0;
  padding: 25px 0 55px 0;
  color: #fff;
  font-weight: 300;
  background: rgba(0, 39, 57, 0.9);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
}

.footer span {
  position: absolute;
  bottom: 5px;
  top: auto;
  left: auto;
  right: auto;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  display: block;
  padding: 15px 0 15px 0;
  border-top: 2px solid #ff8e00;
}

.UE_footer_list {
  margin: 0 0 20px 0;
}

.UE_footer_list li {
  padding: 5px 0;
  list-style: none;
}

.UE_footer_list li:first-child {
  text-decoration: underline;
}

.UE_footer_list li a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
}

.UE_footer_list li a:hover {
  color: #ff8e00;
}

.UE_footer_list h4 {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
}

.UE_title_h2 {
  font-size: 22px;
  font-weight: 500;
  margin: 0 0 15px 0;
  padding: 0 0;
  color: #00273b;
  letter-spacing: 1px;
}

.UE_title_h3 {
  font-size: 18px;
  font-weight: 500;
  margin: 0 0 15px 0;
  padding: 0 0;
  color: #002739;
  letter-spacing: 1px;
}

.UE_img_center {
  width: 500px;
  margin: 0 auto;
  display: table;
}

.UE_img_left {
  width: 500px;
  margin: 0 10px 10px 0;
  float: left;
  display: table;
}

.UE_img_right {
  width: 500px;
  margin: 0 0 10px 10px;
  float: right;
  display: table;
}

.UE_link {
  color: #00273b;
  font-size: 14px;
  font-weight: 400;
}

.UE_link:hover {
  color: #ff8e00;
}

.UE_list {
  font-size: 17px;
}

.UE_list li {
  padding: 5px 0;
}

.UE_list a {
  color: #00273b;
  text-decoration: none;
}

.UE_list a:hover {
  text-decoration: underline;
}

.UE_pagination {
  width: 500px;
  padding: 10px 0;
  margin: 10px auto;
  display: block;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.UE_pagination li {
  margin: 0 15px;
}

.UE_pagination li:first-child {
  margin: 0 0;
}

.UE_pagination li:last-child {
  margin: 0 0;
}

.UE_pagination li a {
  color: #fff;
  padding: 5px 15px;
  font-size: 15px;
  letter-spacing: 1px;
  background: #00273b;
  text-decoration: none;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  -webkit-border-radius: 4px;
          border-radius: 4px;
}

.UE_pagination li a:hover {
  background: #ff8e00;
}

.UE_pagination_active a {
  background: #ff8e00 !important;
}

table a {
  color: #fff;
  text-decoration: none;
}

table a:hover {
  text-decoration: underline;
}

table.steelBlueCols {
  border: 4px solid #ff8e00;
  background-color: rgba(0, 39, 57, 0.9);
  width: 800px;
  text-align: center;
  border-collapse: collapse;
}

table.steelBlueCols td, table.steelBlueCols th {
  border: 1px solid #ff8e00;
  padding: 5px 10px;
}

table.steelBlueCols tbody td {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px;
  color: #FFFFFF;
}

table.steelBlueCols td:nth-child(even) {
  background: #00273b;
}

table.steelBlueCols thead {
  background: #ff8e00;
  border-bottom: 10px solid #00273b;
}

table.steelBlueCols thead th {
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: capitalize;
  font-weight: 500;
  color: #FFFFFF;
  text-align: center;
  border-left: 2px solid #00273b;
}

table.steelBlueCols thead th:first-child {
  border-left: none;
}

table.steelBlueCols tfoot td {
  font-size: 13px;
}

table.steelBlueCols tfoot .links {
  text-align: right;
}

table.steelBlueCols tfoot .links a {
  display: inline-block;
  background: #FFFFFF;
  color: #398AA4;
  padding: 2px 8px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
}

.UE_menu_content {
  list-style: none;
  margin: 20px 0;
  padding: 0 0;
}

.UE_menu_content li {
  width: 100%;
  margin: 10px 0;
}

.UE_menu_content li a {
  color: #00273b;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 1px;
  text-decoration: none;
  padding: 5px 5px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  width: 100%;
  display: block;
  -webkit-transition: 0.0s;
  transition: 0.0s;
}

.UE_menu_content ul {
  margin: 10px 0;
  padding: 0 0 0 15px;
  list-style: none;
}

.main_section:hover {
  background: #ff8e00;
  color: #fff !important;
  font-weight: 500;
}

.main_section:hover::before {
  content: '\25ba';
  margin: 0 5px;
}

.main_section_active {
  background: #ff8e00;
  color: #fff !important;
  font-weight: 500 !important;
  position: relative;
}

.main_section_active::before {
  content: '\25bc';
  margin: 0 5px;
}

.two_section_active {
  color: #ff8e00 !important;
}

.box_news_more {
  padding: 10px 0;
  width: 100%;
  border-bottom: 2px solid #00273b;
}

#gallery {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

#gallery a {
  width: 240px;
  display: block;
  margin: 10px 0;
}

#gallery a img {
  width: 100%;
}

/*# sourceMappingURL=maps/style.css.map */
